In [4]:
import pandas as pd
years={"january": 1, "february": 2,"march":3, 
       "april":4,"may":5,"june":6, "july":7,"augest":8,
       "september":9,"october":10,"november":11,
       "december":12
    }
months=pd.Series(years)
print(months)

january       1
february      2
march         3
april         4
may           5
june          6
july          7
augest        8
september     9
october      10
november     11
december     12
dtype: int64

In [1]:
import pandas as pd
group={"matmie":33, "matdais":30, "comse":28, "comie":25}
s=pd.Series(group)
print(s)

matmie     33
matdais    30
comse      28
comie      25
dtype: int64